*{
    margin: 0;
    padding: 0;
}

html{
    height: auto;
}

body{
    background-color: rebeccapurple;
    background: rgb(138,255,194);
    background: linear-gradient(0deg, rgba(138,255,194,1) 27%, rgba(189,63,251,1) 74%);
    background-repeat: no-repeat;
}

.perfel{
    text-align: center;
}

.avatarLivia{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 30px;
    margin-bottom: 15px;
    box-shadow: rgb(255, 255, 255) 0 0 100px;
}

h1, h2{
    font-family: 'lora', serif;
    color: black;
    margin: 10px;
}

.social{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 20px;
    background-color: aliceblue;
    padding: 5px;
}

.social li img{
    width: 33px;
    height: 33px;
}

.links{
    margin-top: 25px;
    list-style: none;
    display: block;
}

.links li{
    background-color: rgba(204, 71, 204, 0.322);
    margin: 10px 10px;
    border-radius: 10px;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.links li a{
    text-decoration: none;
    color: rgb(0, 255, 34);
    font-size: 25px;
    font-style: italic;
    font-family: 'Lora', serif;
}

.links p{
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.destaque{
    box-shadow: rgb(162, 0, 255) 10px 10px 10px;
}

.instagrampost{
    text-align: center;
    width: 120px;
    height: auto;
}
